.name,
.top-info, .right-side {
  cursor: pointer;
  border: bold;
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  color: rgb(0,0,0,0.6);
  background-color: #617257;
  margin-top: 1em;
  font-size: 20px;
}

.name{
    float: left;
    font-size: 20px;
    text-indent: 10px;
}

.top-info{
    float: left;
    color: black;
}
.container{
    height: 4em;
    background-color: #617257;
    border-bottom: ridge #6a7682;

}

.right-side{
    margin-top: 14px;
    float: right;
}
