 .skills-container {
  cursor: pointer;
  margin-top: 2em;
  place-content: center;
  font-size: 28px;
  font-family: "EB Garamond", serif;
}

h2 {
  font-size: 40px;
  margin-top: 1em;
  font-family: "EB Garamond", serif;
}


.skills-content {
  cursor: pointer;
 
} 



